<%- include("header") -%>
<h1>This is the about page</h1>
<p>This is a todo list created using html, css, js, express and ejs</p>
<p>Has two different pages one for normal todo list and another for work todo lists</p>
<%- include("footer") -%>
